#login_radius_profile_tabs ul.ui-tabs-nav li a{
    background: black;
    margin-left: 4px !important;
    border-radius: 5px 5px 0px 0px;
    padding: 5px 10px;
    color: #FFFFFF;
}
#login_radius_profile_tabs ul,
#login_radius_profile_tabs ul li{
    margin: 0px !important;
    padding: 0px;
}
#login_radius_profile_tabs .wrap {
  overflow-x: scroll;
  clear: both;
}
#login_radius_profile_tabs table th{
    white-space: nowrap;
    border: 1px solid #dddddd;
    text-overflow: ellipsis;
    width: 150px;
    padding: 0px 10px;
}
#login_radius_profile_tabs table thead th {
  background: #000000;
  color: #ffffff;
}